<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <div><%= error %></div>
  <% end %>
<% end %>

<%= form_with model: @proposal do |f| %>
  <%= f.label :title, class: 'form-label' %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :description, class: 'form-label' %>
  <%= f.text_area :description, class: 'form-control' %>

  <%= f.label :contact, class: 'form-label' %>
  <%= f.text_field :contact, class: 'form-control' %>

  <%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>