<%= form_with model: Comment.new do |form| %>
  <%= form.hidden_field :proposal_id, value: @proposal.id %>
  <%= form.label :new_comment, 'New Comment' %>
  <%= form.text_field :new_comment %>
  <%= form.submit 'Add Comment' %>
<% end %>

<p>asdsadasd</p>
