<h1><%= @proposal.title %></h1>
<p><%= @proposal.description %></p>

<% if @can_delete %>
  <%= button_to 'Delete Proposal', @proposal, method: :delete %>
<% end %>

<%= form_with model: @proposal do |form| %>
  <%= form.label :title, 'Title', class: 'form-label' %>
  <%= form.text_field :title, class: 'form-control' %>
  <%= form.label :edit_description, 'Description', class: 'form-label' %>
  <%= form.text_field :edit_description, class: 'form-control' %>
  <% if @can_edit %>
    <%= form.submit 'Edit Proposal', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= form_with model: Comment.new do |form| %>
  <%= form.hidden_field :proposal_id, value: @proposal.id %>
  <%= form.label :new_comment, 'New Comment', class: 'form-label' %>
  <%= form.text_field :new_comment, class: 'form-control' %>
  <%= form.submit 'Add Comment', class: 'btn btn-primary' %>
<% end %>

<ul>
<% @proposal.comments.each do |comment| %>
  <li>
  <p><%= comment.text %></p>
  <cite><%= comment.owner.email %></cite>
  </li>
  <% end %>
</ul>
