<%= link_to 'New Proposal', new_proposal_path %>
<h1>Home</h1>

<h2><%= @proposals.length %> proposals</h2>
<% @proposals.each do | item | %>
  <h3><%= item.title %></h3>
  <p><%= item.description %></p>
  <cite><%= item.contact %></cite>
  <%= link_to(item.title, proposal_path(item)) %>
<% end %>