<p>
  <% if session.key?(:user) %>
    You are logged in as <%= session[:user][:email] %>
  <% else %>
    You are not logged in.
  <% end %>
</p>

<%= link_to 'New Proposal', new_proposal_path, class: 'btn btn-primary' %>
<small><%= @proposals.length %> proposals</small>

<section class="my-4">
  <% @proposals.each do | item | %>
    <div class="card mt-2" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title"><%= item.title %></h3>
        <p class="card-text">
          <%= item.description %>
          <cite><%= item.owner.email %></cite>
        </p>
        <%= link_to 'Show', proposal_path(item), class: 'btn btn-outline-primary' %>
      </div>
    </div>
  <% end %>
</section>
